[run]
omit =
    tests/*
concurrency =
    greenlet
    thread

[report]
exclude_lines =
    if TYPE_CHECKING:
    if __name__ == "__main__":
    pragma: no cover
    raise TypeError
    raise AttributeError
